<div class="banner">
    <div class="banner-overlay">
        <div class="container banner-items">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="text-white" id="aboutus-banner-text">
                        <h1>
                          We Do Things <span style="color: var(--secondary-color);">Differently</span>
                        </h1>
                        <p>From humble beginnings to creating global brands</p>
                        <p>
                          Hybritech Innovation is a digital business group, currently
                          serving + customers across 195+ countries globally.
                        </p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>