.banner {
    min-height: var(--height);
    background-image: url(../../../../public/img/about\ us\ banner.jpeg);
    text-align: center;
}

.banner-overlay {
    background: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: var(--height);
}

.banner-items {
    padding-top: 20vh;
}

.banner-title {
    font-size: max(3vw, 1.5rem);
}
@media screen and (max-width: 768px) {
    .banner {
        min-height: 35vh; 
    }

    .banner-overlay {
        height: 35vh; 
    }

    .banner-items {
        padding-top: 6vh; 
    }

    .banner-title {
        font-size: max(6vw, 1.2rem); 
    }
}
