.card-content-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10vh;
    width: 40%;
  }



  .card-content {
    position: relative;
    display: inline;
  }
  
  .card-content-line::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #00aeff;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line1::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #00a9ae;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line2::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #3773de;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line3::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #ffac60;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line4::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #00a9ae;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line5::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #3773de;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line6::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #ffac60;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  
  
  @media screen and (max-width: 768px) {
  
    .card-content-title {
        width: 100%;
      }
    

  }