<section class="common-bg">
    <div>
      <div class="card-content-title">
        <h1>
          What <span style="color: var(--secondary-color);">Makes Us Different</span> from Others
        </h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div>
              <div class="card-content" id="card-content-line1">
                <h4>Strategic Innovation</h4>
                <p>
                  We don't merely follow trends; rather, we help to define
                  them. Our designs are driven by insights, which results in
                  experiences that have an impact.
                </p>
              </div>
              <div class="card-content" id="card-content-line2">
                <h4>Data-Driven Decisions</h4>
                <p>
                  Our approach combines creativity with insights, using user
                  data to refine designs that are not only appealing but also
                  effective.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <div class="card-content" id="card-content-line3">
                <h4>User-centric Core</h4>
                <p>
                  People are first, always. We immerse ourselves in your
                  users' perspectives, shaping designs that resonate and drive
                  meaningful interactions.
                </p>
              </div>
              <div class="card-content" id="card-content-line4">
                <h4>Transparent Process</h4>
                <p>
                  Our open communication ensures you're informe every step,
                  fostering trust and confidence in the design journey.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <div class="card-content" id="card-content-line5">
                <h4>Expert Team</h4>
                <p>
                  Our skilled designers bring diverse expertise, ensuring a
                  holistic approach to every project for superior results.
                </p>
              </div>
              <div class="card-content" id="card-content-line6">
                <h4>Responsive Agility</h4>
                <p>
                  Our flexible structure allows us to adapt swiftly, ensuring
                  your designs remain responsive to changing user needs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
