<div class="common-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-white faq-items">
            <h1 class="text-center">Frequently asked questions</h1>
            <!-- card 1 -->
            <div>
              <hr class="border-bottom border-2 border-light w-100 my-5" />
              <div class="faq-cards">
                <h3>What is Hybritech Innovations?</h3>
                <p>
                  <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseID1"
                    onclick="collapseButton(this)">
                    <i class="fa-solid fa-plus text-white"></i>
                  </button>
                </p>
              </div>
              <div class="collapse" id="collapseID1">
                <div class="faq-p">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nisi vero consequatur dolor suscipit qui delectus,
                    architecto a soluta consectetur distinctio optio. Unde sit
                    amet minima doloremque, hic excepturi totam nobis? Aliquam
                    nemo exercitationem consequuntur culpa, doloribus harum,
                    ex non sequi nobis veniam, iusto neque voluptas tempore
                    eveniet molestias esse adipisci? Mimo is an easy-to-use
                    tool for small business owners, offering 1-click payment
                    of any business invoice, with the ability to access
                    flexible payment terms and improve cashflow using an
                    embedded credit line.
                  </p>
                </div>
              </div>
              <hr class="border-bottom border-2 border-light w-100 my-5" />
            </div>
            <!-- card 2 -->
            <div>
              <div class="faq-cards">
                <h3>Why Should I Choose Hybritech Innovations?</h3>
                <p>
                  <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseID2"
                    onclick="collapseButton(this)">
                    <i class="fa-solid fa-plus text-white"></i>
                  </button>
                </p>
              </div>
              <div class="collapse" id="collapseID2">
                <div class="faq-p">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nisi vero consequatur dolor suscipit qui delectus,
                    architecto a soluta consectetur distinctio optio. Unde sit
                    amet minima doloremque, hic excepturi totam nobis? Aliquam
                    nemo exercitationem consequuntur culpa, doloribus harum,
                    ex non sequi nobis veniam, iusto neque voluptas tempore
                    eveniet molestias esse adipisci? Mimo is an easy-to-use
                    tool for small business owners, offering 1-click payment
                    of any business invoice, with the ability to access
                    flexible payment terms and improve cashflow using an
                    embedded credit line.
                  </p>
                </div>
              </div>
              <hr class="border-bottom border-2 border-light w-100 my-5" />
            </div>
            <!-- card 3 -->
            <div>
              <div class="faq-cards">
                <h3>Is Hybritech Innovations for me?</h3>
                <p>
                  <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseID3"
                    onclick="collapseButton(this)">
                    <i class="fa-solid fa-plus text-white"></i>
                  </button>
                </p>
              </div>
              <div class="collapse" id="collapseID3">
                <div class="faq-p">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nisi vero consequatur dolor suscipit qui delectus,
                    architecto a soluta consectetur distinctio optio. Unde sit
                    amet minima doloremque, hic excepturi totam nobis? Aliquam
                    nemo exercitationem consequuntur culpa, doloribus harum,
                    ex non sequi nobis veniam, iusto neque voluptas tempore
                    eveniet molestias esse adipisci? Mimo is an easy-to-use
                    tool for small business owners, offering 1-click payment
                    of any business invoice, with the ability to access
                    flexible payment terms and improve cashflow using an
                    embedded credit line.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>