<section>
    <div class="common-bg">
        <div class="container career-part" id="career-part">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img src="./img/Asset 1@4x 1.png" alt="" class="career-logo">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h1>Working with dynamic People</h1>
                        <p>we put people at the heart of our business. We believe in happiness at work, personal
                            development, and family spirit. When you love what you do and the people you work with,
                            that’s when the magic happens and you accomplish great things! The winning recipe is a
                            pinch of creativity, a dash of happiness, and a lot of you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
