<section id="contact-us-section">
    <div class="common-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h1>We would love to <span style="color: var(--secondary-color);">talk</span>
                            with you?</h1>
                        <p>Take off to the next chapter with <span class="fw-bold">HYBRITECH INNOVATIONS</span></p>
                    </div>
                </div>
                <div class="col-md-6" class="contact-us-form-bg">
                    <div>
                        <div id="contact-us-title">
                            <i class="fa-regular fa-user"></i>
                            <h5>Contact Us</h5>
                        </div>
                        <div>
                            <h6>Full Name</h6>
                            <input type="text" class="form-control" placeholder="Ashraf Chowdhury">
                            <hr class="form-hr">
                        </div>
                        <div>
                            <h6>Email</h6>
                            <input type="email" class="form-control" placeholder="You@example.com" required>
                            <hr class="form-hr">
                        </div>
                        <div>
                            <h6>Contact Number</h6>
                            <input type="text" class="form-control" placeholder="+880 123-45678" required>
                            <hr class="form-hr">
                        </div>
                        <div>
                            <h6>Subject</h6>
                            <textarea name="" id="" class="form-control" placeholder="Your subject"></textarea>
                            <hr class="form-hr">
                        </div>
                        <div>
                            <div>
                                <h6>Details</h6>
                                <textarea name=""  class="form-control"
                                    placeholder="Tell us more about your idea" required></textarea>
                                <hr class="form-hr">
                            </div>
                        </div>
                        <div class="form-submit">
                            <div>
                                <a href="#" class="btn-common">
                                    Submit</a>
                            </div>
                            <p>By submitting this form, I confirm that I have read and understood Hybritech
                                innovations Privacy Policy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>

