
  #contact-us-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
  
  .contact-us-form-bg {
    background: rgba(15, 15, 15, 1);
    width: 50%;
    padding: 5vh 8vh;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
  }
  .form-control {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 16px;
  }
  
  .form-control:focus {
    outline: none;
    color: var(--white);
    background: none;
    border: none;
  }
  
  .form-hr {
    margin-top: 0.5px;
    color: inherit;
    background-color: var(--white);
    border: 0.5px;
    opacity: 100;
  }
  
  .form-submit {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    .contact-us-form-bg {
        width: 100%;
        padding: 5vh;
        border-radius: 7px;
      }
  }