

      <div class="nav-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar">
                <div class="logo">
                  <img id="logo" src="./img/Asset 1@4x 1.png" alt="Logo" />
                </div>
                <input type="checkbox" id="nav-toggle" class="nav-toggle" />
                <label for="nav-toggle" class="nav-toggle-label">
                  <span class="hamburger-icon"></span>
                </label>
                <div class="nav-links">
                  <ul class="nav-items">
                    <li><a href="./index.html">Home</a></li>
                    <li  a routerLink="/services"><a >Service</a></li>
                    <li  a routerLink="/about"><a >About Us</a></li>
                    <li  a routerLink="/career"><a >Career</a></li>
                  </ul>
                </div>
                <div class="contact-btn">
                  <a href="./Contact_Us.html" class="btn-contactus">
                    Contact Us</a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
