<section>
    <div class="common-bg">
      <div class="text-center col-8 m-auto service-header">
        <h1>A dynamic team uniting top talent and expertise</h1>
        <p class="service-p">
          Unleash best-in-class solutions crafted by the best-in-class. Our
          team boasts members form elite institutions like Google, Harvard,
          Tesla, Red Bull and beyond.
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div>
              <div>
                <div class="circle">
                  <h3>01</h3>
                </div>
                <h4 class="card-title">Competition</h4>
                <p class="service-p">
                  Businesses face stiff competition from existing players as
                  well as new entrants, making it challenging to stand out and
                  capture market share.
                </p>
                <div class="last-part">
                  <i class="fa-solid fa-arrow-turn-up fa-icon"></i>
                  <p>
                    Using data makes you 23x more likely to acquire new
                    customers.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <div>
                <div class="circle">
                  <h3>02</h3>
                </div>
                <h4 class="card-title">Financial Constraints</h4>
                <p class="service-p">
                  Limited access to capital, especially for startups and small
                  businesses, can hinder growth opportunities, including
                  expansion, hiring, and investment in technology.
                </p>
                <div class="last-part">
                  <i class="fa-solid fa-arrow-turn-up fa-icon"></i>
                  <p>
                    59% of businesses  struggle to secure the right finance.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <div>
                <div class="circle">
                  <h3>03</h3>
                </div>
                <h4 class="card-title">Scale</h4>
                <p class="service-p">
                  As businesses grow, challenges with scale arise, such as
                  inefficient processes and difficulty managing increased
                  workload and customer demands.
                </p>
                <div class="last-part">
                  <i class="fa-solid fa-arrow-turn-up fa-icon"></i>
                  <p>92% of businesses fail to hit their ambitions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
