<section class="common-bg">
    <div class="col-9 m-auto text-center p-3 header-title">
      <h1>Delivering impact across 200+ industries</h1>
      <p class="">
        Unleash best-in-class solutions crafted by the best-in-class. Our team
        boasts members form elite institutions like Google, Harvard, Tesla,
        Red Bull and beyond.
      </p>
    </div>
    <div>
      <div class="container slider-bg" style="background-image: url('./img/Frame\ 44.PNG')">
        <div class="row slider-bg-overlay">
          <div class="col-6 d-md-flex justify-content-end slider-cards">
            <div>
              <div>
                <p>
                  “Deliver superior customer experience with our globally
                  distributed platform.”
                </p>
              </div>
              <div class="slider-profile">
                <img src="./img/Frame 46.png" alt="" />
                <div class="slider-profile-text">
                  <p>Vic Desta</p>
                  <p>Senior Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 d-md-flex justify-content-end slider-cards">
            <div>
              <div class="slider-bar-content card-content" id="slider-content-line1">
                <h4 class="slider-num">40%</h4>
                <p>Faster Product Time</p>
              </div>
              <div class="slider-bar-content card-content" id="slider-content-line2">
                <h4 class="slider-num">53%</h4>
                <p>Success business</p>
              </div>
              <div class="slider-bar-content card-content" id="slider-content-line3">
                <h4 class="slider-num">85%</h4>
                <p>Handover on time</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>