<section class="banner" style="position: relative;">
    <!-- Background Video -->
    <video autoplay muted loop class="background-video">
        <source src="./img/bg-vid.mp4" type="video/mp4">
    </video>
    <div class="color-overlay">
        <div>
            <div class="container banner-content">
                <div class="row" id="banner1">
                    <div class="col-lg-6">
                        <div class="text-white banner-text-career" >
                            <h1>Be The <span style="color: var(--secondary-color);">NEXT</span></h1>
                            <p>You will not work for us, You will work with us. Here, you will learn from
                                the best, and lead the rest! Take off to the next chapter with <span
                                    class="fw-bold">HYBRITECH INNOVATIONS</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>