<section class="banner2" style="background-image: url('./img/banner2.jpeg')">
    <div class="color-overlay-banner-2">
      <div class="container">
        <div class="row" id="banner">
          <div class="col-8 m-auto">
            <div class="text-white banner2-text">
              <h1>
                Improve customer experience by building on a reliable platform
              </h1>
              <p>
                Deliver superior customer experience with our globally
                distributed platform, minimal downtime, and intuitive
                products.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
