<section>
    <div class="common-bg">
      <div class="container">
        <div class="row align-items-center">
          <!-- part-1 -->
          <div class="col-md-6">
            <div>
              <div>
                <h1>Branding</h1>
                <p>
                  Our approach connects brand and user experience closely. We
                  specialize in creating and presenting digital brand
                  identities on all platforms. We also provide strategy help
                  and guidelines to keep everything consistent.
                </p>
                <div class="gap-3">
                  <button id="btn1" type="button" class="btn-common">
                    Motion Graphics
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Graphic Design
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Startup Branding
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Branding
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Brand Strategy
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Corporate Identity
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <div>
                <video class="mid-img" autoplay loop src="./img/Fram-31.mp4"></video>
              </div>
            </div>
          </div>
          <!-- part-2 -->
          <div class="col-md-6">
            <div>
              <div>
                <video class="mid-img" autoplay loop src="./img/Fram-32.mp4"></video>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <div>
                <h1>Web Design</h1>
                <p>
                  A website is the most important way to show your brand to
                  customers. Our portfolio includes functional websites that
                  are designed and developed to give users the best experience
                  possible while also helping you achieve your business goals.
                </p>
                <div class="gap-3">
                  <button id="btn1" type="button" class="btn-common">
                    Ecommerce design
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Responsive Web Design
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Startup Web Design
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Web design
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    SaaS Website Design
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    Corporate Website
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- part-3 -->
          <div class="col-md-6">
            <div>
              <div>
                <h1>Mobile App Design</h1>
                <p>
                  We focus on enhancing user interest by creating User
                  friendly interfaces. By building a strong brand identity
                  within the app, we ensure that users recognize and trust
                  your brand. Our expert design team also works on optimizing
                  the functionality of the app, making sure it runs smoothly
                  and efficiently.
                </p>
                <div class="gap-3">
                  <button id="btn1" type="button" class="btn-common">
                    Mobile App
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    IOS App
                  </button>
                  <button id="btn1" type="button" class="btn-common">
                    App Prototype
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <div>
                <video class="mid-img" autoplay loop src="./img/Fram-33.mp4"></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
