<section class="common-bg">
    <div class="container">
      <div class="row m-auto">
        <div class="col-md-6 text-white">
          <div class="info-title">
            <h1>Have a Project Idea?</h1>
            <p>
              Highly Personalize new business connection, expertly curated to
              meet your objectives and drive your business forward
            </p>
          </div>
        </div>
        <div class="col-md-6 text-white" id="form-part">
          <!-- Name -->
          <div>
            <h6>Full Name</h6>
            <input type="text" class="form-control" placeholder="Ashraf Chowdhury" />
            <hr class="form-hr" />
          </div>
          <!-- project Name & Email -->
          <div class="form-mid">
            <div>
              <h6>Project Name</h6>
              <input type="text" class="form-control" placeholder="Software" />
              <hr class="form-hr" />
            </div>
            <div>
              <h6>Email</h6>
              <input type="email" class="form-control" placeholder="You@example.com" required />
              <hr class="form-hr" />
            </div>
          </div>

          <!-- project Type & project Budget -->
          <div class="form-mid">
            <div>
              <h6>Project Type</h6>
              <input type="text" class="form-control" placeholder="write here" />
              <hr class="form-hr" />
            </div>
            <div>
              <h6>Project Budget</h6>
              <input type="text" class="form-control" placeholder="write here" />
              <hr class="form-hr" />
            </div>
          </div>
          <!-- project Description -->
          <!-- Name -->
          <div>
            <h6>Project Details</h6>
            <input type="text" class="form-control" placeholder="Tell us more about your idea" required />
            <hr class="form-hr" />
          </div>
          <div>
            <a href="./Contact_Us.html" class="btn-common">Submit</a>
          </div>
        </div>
      </div>
    </div>
  </section>
