<section class="common-bg">
    <div>
        <div id="card-content-title">
            <h4>Benfits</h4>
            <h1 style="width: 100%;">At HYBRITECH INNOVATION, <span class="text-info">We take care of...</span></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <div class="">
                            <div class="circle">
                                <h3>01</h3>
                            </div>
                            <h4 class="title-bg">Subsidized Lunch</h4>
                            <p>We prioritize team well-being and bonding by offering a Subsidized Lunch benefit.
                                This not only ensures nutritious meals for all but also fosters community.</p>
                        </div>
                        <div class="">
                            <div class="circle">
                                <h3>04</h3>
                            </div>
                            <h4 class="title-bg">Top - tier workplace</h4>
                            <p>NEXT Ventures provides a premium work environment and competitive CTC, valuing and
                                supporting our team's growth, fostering their success.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div class="">
                            <div class="circle">
                                <h3>02</h3>
                            </div>
                            <h4 class="title-bg">Birthday Leave & Cake</h4>
                            <p>We celebrate special days with Birthday Leave, Cake, fostering appreciation, quality
                                time, and team well-being, nurturing our bonds.</p>
                        </div>
                        <div class="">
                            <div class="circle">
                                <h3>05</h3>
                            </div>
                            <h4 class="title-bg">Bi-annual salary review</h4>
                            <p>Bi-annual salary reviews evaluate performance, foster growth, and ensure fair
                                compensation, recognizing contributions and potential within our dedicated team.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div class="">
                            <div class="circle">
                                <h3>03</h3>
                            </div>
                            <h4 class="title-bg">Honeymoon Package</h4>
                            <p>Celebrate milestones with a honeymoon package or cash, showcasing well-being and
                                recognition, acknowledging life's special moments and achievements.</p>
                        </div>
                        <div class="">
                            <div class="circle">
                                <h3>06</h3>
                            </div>
                            <h4 class="title-bg">Annual performance Bonus</h4>
                            <p>Bi-annual performance reviews recognize strengths, align with career goals, and
                                reward eligible members through our Performance Bonuses, promoting growth and
                                excellence.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>