<div class="banner">
    <div class="banner-overlay">
        <div class="container banner-items">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="text-white">
                        <h1>Digital Product Design & Consulting Services</h1>
                        <p style="color: rgba(186, 186, 186, 1)">
                          Our Global digital product design agency helps brands to
                          make top-quality SaaS, MVP, software, mobile apps, and
                          websites. We focus on user-friendly designs that look great
                          and work smoothly. Let us help your business grow with our
                          expert digital product solutions. Get Started
                        </p>
                      </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div>
                        <img class="d-md-none d-sm-none d-lg-block d-none" style="height: 300px"
                          src="img/Hybritech Innovations.png" alt="" />
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>