<div class="banner">
    <div class="banner-overlay">
        <div class="container banner-items">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="text-white">
                        <h1 class="banner-title">
                          Accelerate Your Market
                          <span style="color: rgba(129, 206, 208, 1)">Intelligence</span>
                        </h1>
                        <p style="color: rgba(186, 186, 186, 1)">
                          Highly Personalize new business connection, expertly curated
                          to meet your objectives and drive your business forward
                        </p>
                        <div>
                          <a href="#" class="btn-common"> Get Started</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div>
                        <img class="d-md-none d-sm-none d-lg-block d-none" style="height: 300px"
                          src="img/Hybritech Innovations.png" alt="" />
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>