<section class="common-bg">
    <div class="container">
      <div class="row develop-smart-main">
        <div class="col-md-6">
          <div>
            <img class="img-fluid" src="./img/Group 7410.png" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="develop-smart-text">
            <h1 class="">Develop smarter publish faster</h1>
            <p>
              Unleash best-in-class solutions crafted by the best-in-class.
              Our team boasts members form elite institutions like Google,
              Harvard, Tesla, Red Bull and beyond.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
