
  .develop-smart-main {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
  }
  
 .develop-smart-text {
    gap: 10px;
    width: 80%;
    padding-left: 50px;
  }
  @media screen and (max-width: 768px) {
    .common-bg {
        padding: 1px;
        width: 100%;
    }
}