<section>
    <div class="text-white justify-content-between align-items-center p-5 common-bg">
        <div>
            <h5>Current Openings</h5>
            <h3>Let’s grow together</h3>
            <button class="btn-common">3 open job vacancies</button>
        </div>

        <!-- card 1 -->
        <div>
            <hr class="full-width-hr">
            <div class="d-md-flex justify-content-between align-items-center p-5">
                <div class="card-content" id="card-content-line9">
                    <div>

                        <h3>Product Designer</h3>
                        <p>We’re looking for a 5-year experience Angular developer to join our team.</p>
                    </div>
                    <div>
                        <button class="btn-common"><i class="fa-regular fa-clock"></i> Full time</button>
                        <button class="btn-common"><i class="fa-solid fa-location-dot"></i> On Site</button>
                        <button class="btn-common"><i class="fa-solid fa-key"></i> 5 years experience</button>

                    </div>
                </div>
                <button class="btn-apply">
                    Apply <i class="fa-solid fa-arrow-up arw-apply"></i>
                </button>
            </div>
            <hr class="full-width-hr">
        </div>
        <!-- card 2 -->
        <div>
            <div class="d-md-flex justify-content-between align-items-center p-5">
                <div class="card-content" id="card-content-line8">
                    <div>

                        <h3>Angular Developer</h3>
                        <p>We’re looking for a 2-year experience Angular developer to join our team.</p>
                    </div>
                    <div>
                        <button class="btn-common"><i class="fa-solid fa-location-dot"></i> On Site</button>
                        <button class="btn-common"><i class="fa-regular fa-clock"></i> Full time</button>
                        <button class="btn-common"><i class="fa-solid fa-key"></i> 2 years experience</button>

                    </div>
                </div>
                <button class="btn-apply">
                    Apply <i class="fa-solid fa-arrow-up arw-apply"></i>
                </button>
            </div>
        </div>
        <!-- card 3 -->
        <div>
            <hr class="full-width-hr">
            <div class="d-md-flex justify-content-between align-items-center p-5">
                <div class="card-content" id="card-content-line7">
                    <div>

                        <h3>Graphic Designer</h3>
                        <p>We’re looking for a mid-level Graphic designer to join our team.</p>
                    </div>
                    <div>
                        <button class="btn-common"><i class="fa-solid fa-location-dot"></i> On Site</button>
                        <button class="btn-common"><i class="fa-regular fa-clock"></i> Full time</button>
                        <button class="btn-common"><i class="fa-solid fa-key"></i> Mid-Level</button>

                    </div>
                </div>
                <button class="btn-apply">
                    Apply <i class="fa-solid fa-arrow-up arw-apply"></i>
                </button>
            </div>

        </div>
    </div>
</section>
